# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo

# Arquivos temporários de editor e sistema
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Ambientes virtuais (se criar futuramente)
env/
venv/
.venv/

# Configurações de IDEs (VSCode, PyCharm, etc)
.vscode/
.idea/

# Notebooks Jupyter (caso use futuramente)
*.ipynb_checkpoints/